/* global reset */
*{
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-size: 62.5%;  */
    /* 1rem = 10px, 10px/16px(browser default) = 62.5% */

    /* @media only screen and (max-width: $bp-md) {
        font-size: 50%;
    } */
}

body {
    background: linear-gradient(180deg, rgba(144,0,0,1) 0%,  rgba(0,0,0,0.95) 20%);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 5vh;
}

.ui.form {
    color: #d4d4d4;
}

.ui.form .field>label {
    color: #d4d4d4;
}

.ui.menu .item{
    color: #d4d4d4 ;
}

.ui.header {
    color: #d4d4d4;
}

.item {
        color: #d4d4d4;
}

.ui.list>.item .header {
    color: #d4d4d4;
}